[Unit]
Description=GoCD Agent container
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/docker start -a gocd-agent
ExecStop=/usr/bin/docker stop -t 2 gocd-agent

[Install]
WantedBy=local.target