[Unit]
Description=Consul
After=network.target

[Service]
User=consul
Restart=always
ExecStart=/usr/local/bin/consul agent -bootstrap -bind {{PRIVATE_IPV4}} -client {{PRIVATE_IPV4}} -data-dir /opt/consul/data -dev -config-dir /etc/consul.d

[Install]
WantedBy=local.target