[Unit]
Description=Rocket.Chat container
Requires=docker.service mongodb.service
After=docker.service mongodb.service

[Service]
ExecStart=/usr/bin/docker start -a rocketchat
ExecStop=/usr/bin/docker stop -t 2 rocketchat

[Install]
WantedBy=local.target