[Unit]
Description=gitlist
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a gitlist
ExecStop=/usr/bin/docker stop -t 2 gitlist

[Install]
WantedBy=local.target