[Unit]
Description=Keycloak container
Requires=docker.service postgres.service
After=docker.service postgres.service

[Service]
ExecStart=/usr/bin/docker start -a keycloak
ExecStop=/usr/bin/docker stop -t 2 keycloak

[Install]
WantedBy=local.target