[Unit]
Description=NGINX container
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/docker start -a nginx
ExecStop=/usr/bin/docker stop -t 2 nginx

[Install]
WantedBy=local.target
