[Unit]
Description=RASA Trainer container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a rasa_trainer
ExecStop=/usr/bin/docker stop -t 2 rasa_trainer

[Install]
WantedBy=local.target