{
  "resources": [
    {
      "service_endpoint": {
        "${instanceId}-{{name}}-${port}": {
          "service": "${path}",
          "description": "",
          "instance": "${instanceId}",
          "environment": "${environmentId}",
          "segment": "${segmentId}",
          "url": "http://${domainName}:${port}",
          "type": "console"
        }
      }
    },
    {
      "service_discovery_service": {
        "${instanceId}-{{name}}-${port}": {
          "Name" : "${path}",
          "Address" : "${d}{var.compute_instance.${instanceName}.privateIp}",
          "Port" : ${port},
          "Tags" : [
            "urlprefix-/${path} strip=/${path}"
          ],
          "Check" : {
            "http": "http://${d}{var.compute_instance.${instanceName}.privateIp}:${port}",
            "interval": "10s",
            "timeout": "1s"
          }
        }
      }
    }
  ]
}
