{
  "resources": [
    {
      "service_endpoint": {
        "${instanceId}-{{name}}": {
          "service": "{{name}}",
          "segment": "${segmentId}",
          "url": "http://${domainName}:${d}{port}"
        }
      }
    },
    {
      "service_discovery_service": {
        "${instanceId}-{{name}}-${d}{port}": {
          "Name" : "{{name}}",
          "Address" : "${d}{vars.compute_instance.${instanceId}.privateIp}",
          "Port" : "${d}{port}",
          "Tags" : [
            "urlprefix-/www strip=/www"
          ],
          "Check" : {
            "http": "http://${d}{vars.compute_instance.${instanceId}.privateIp}:${d}{port}",
            "interval": "10s",
            "timeout": "1s"
          }
        }
      }
    }
  ]
}
