[Unit]
Description=WETTY container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a wetty
ExecStop=/usr/bin/docker stop -t 2 wetty

[Install]
WantedBy=local.target