[Unit]
Description=Fabio
After=network.target

[Service]
Restart=always
Environment=CONSUL_CACERT=/etc/consul.d/ssl/ca.cert
Environment=CONSUL_CLIENT_CERT=/etc/consul.d/ssl/consul.cert
Environment=CONSUL_CLIENT_KEY=/etc/consul.d/ssl/consul.key
ExecStart=/opt/fabio/bin/fabio -cfg /opt/fabio/config.properties

[Install]
WantedBy=local.target