[Unit]
Description=Vault
Requires=consul.service
After=consul.service

[Service]
Restart=always
ExecStart=/usr/local/bin/vault server -config /etc/vault.config

[Install]
WantedBy=local.target