backend "consul" {
  address = "{{CONSUL_ADDRESS}}:8080"
  scheme = "https"
  path = "vault"
  tls_ca_file = "/etc/consul.d/ssl/ca.cert"
  tls_cert_file = "/etc/consul.d/ssl/consul.cert"
  tls_key_file = "/etc/consul.d/ssl/consul.key"
}

listener "tcp" {
  address = "{{VAULT_ADDRESS}}:{{VAULT_PORT}}"
  tls_disable = 1
}
