backend "consul" {
  address = "consul.service.dc1.consul:8080"
  scheme = "https"
  path = "vault"
  tls_ca_file = "/etc/consul.d/ssl/ca.cert"
  tls_cert_file = "/etc/consul.d/ssl/consul.cert"
  tls_key_file = "/etc/consul.d/ssl/consul.key"
}

listener "tcp" {
  address = "{{VAULT_ADDRESS}}:8200"
  tls_disable = 0
  tls_cert_file = "/etc/consul.d/ssl/vault.cert,/etc/consul.d/ssl/ca.cert"
  tls_key_file = "/etc/consul.d/ssl/vault.key"
}
