[Unit]
Description=Vault
After=consul.service

[Service]
Restart=always
ExecStart=/usr/local/bin/vault server -config /etc/vault.d/vault.config

[Install]
WantedBy=local.target
