[Unit]
Description=Consul
After=network.target

[Service]
Restart=always
ExecStart=/usr/local/bin/consul agent -bind {{PRIVATE_IPV4}} -client {{PRIVATE_IPV4}} -data-dir /opt/consul -server -ui -bootstrap -config-dir /etc/consul.d

[Install]
WantedBy=local.target