[Unit]
Description=Ecosystem IDE container
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/docker start -a ide
ExecStop=/usr/bin/docker stop -t 2 ide

[Install]
WantedBy=local.target