[Unit]
Description=Anaconda container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a continuumio/anaconda
ExecStop=/usr/bin/docker stop -t 2 continuumio/anaconda

[Install]
WantedBy=local.target