[Unit]
Description={{service}}
After=network.target

[Service]
User=appuser
WorkingDirectory=/opt/applications/working
ExecStart=/usr/java/jdk1.8.0_60/bin/java -Xms200M -Xmx200M -Denv={{env}} {{custom}} -D-Dserver.port={{port}} -jar {{base}}/{{jar}}
# SuccessExitStatus=143

[Install]
WantedBy=multi-user.target