[Unit]
Description=gitea
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/docker start -a gitea
ExecStop=/usr/bin/docker stop -t 2 gitea

[Install]
WantedBy=local.target