[Unit]
Description=elasticsearch-metrics
After=network.target

[Service]
Restart=always
ExecStart=/opt/elasticsearch-metrics/bin/entrypoint.sh

[Install]
WantedBy=local.target