[Unit]
Description=Archiva container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a archiva
ExecStop=/usr/bin/docker stop -t 2 archiva

[Install]
WantedBy=local.target
