[Unit]
Description=RASA NLU container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a rasa_nlu
ExecStop=/usr/bin/docker stop -t 2 rasa_nlu

[Install]
WantedBy=local.target