[Unit]
Description=confd container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a confd
ExecStop=/usr/bin/docker stop -t 2 confd

[Install]
WantedBy=local.target
